<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Department ID</label>
      <input type="email" [(ngModel)]="id" readonly [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">Department ID's are unique and private.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Department Name</label>
      <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPassword1" >
    </div>
    
    <button (click)="submit()" type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-primary" routerLink="/department">Back</button>
</form>

